body {
    font-family: sans-serif;
    background-color: #0d0a14;
    margin: 0;
    padding: 0;
    color: lightpink;
}

#header {
    background-color: #101b2b;
    color: lightpink;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
}

a {
    color:peachpuff;
}

.container1 {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#view,
#view2,
#view3,
#view4,
#view5,
#view6,
#view7,
#view8,
#view9,
#view10,
#view11 {
  width: 100%;
  height: 100%;
  max-width: 800px;
}