html {
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background-color: #0d0a14;
}

li, p {
    color:peachpuff;
}

h2, a {
    color: lightpink;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#centered {
    background-color: #101b2b;
    height: 100%;
    width: 30%;
    padding: 0 5vw;
    border-left: 2px solid peachpuff;
    border-right: 2px solid peachpuff;

    display: flex;
    align-items: center;
}

#content {
    width: 100%;
}